* {
    margin: 50px;
    padding: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}
.box {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}
.box-border {
    box-shadow: 15px 15px 0;
}
#darkMode:checked ~ .box {
    background-color: black;
    color: white;
    transition: 200ms;
    /* box-shadow: 10px 10px 0; */
}